<div class="main-container">
  <div class="logo-container">
    <img src="assets/images/milio.png" alt="logo" />
  </div>

  <div class="login-div">
    <div class="login-form">
      <h1>Iniciar sesión</h1>
      <p>Ingresa tu correo electrónico</p>

      <div class="form-div">
        <form
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit()"
          #loginFormRef="ngForm"
        >
          <label for="email">Correo electrónico</label>
          <input
            placeholder="johndoe@miliopay.com"
            id="email"
            type="text"
            formControlName="email"
          />
          <div class="text-danger" *ngIf="errorMessage">
            {{ errorMessage }}
          </div>
        </form>
      </div>
    </div>

    <button
      type="button"
      class="login-btn"
      (click)="loginFormRef.ngSubmit.emit()"
    >
      Continuar
    </button>
  </div>
</div>
