<div class="main-container">
  <div class="logo-container">
    <img src="assets/images/milio.png" alt="logo" />
  </div>

  <div class="login-div">
    <a href="/login" class="back-link">
      <img src="assets/icons/arrow-back-icon.svg" alt="back" />
    </a>
    <div class="login-form">
      <h1>Iniciar sesión</h1>
      <div class="login-form__email">
        <p>{{ email }}</p>
      </div>

      <div class="form-div">
        <form
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit()"
          #loginFormRef="ngForm"
        >
          <label for="password">Contraseña</label>
          <input
            placeholder="***************"
            id="password"
            type="{{ showPassword ? 'text' : 'password' }}"
            formControlName="password"
          />
          <img
            src="assets/icons/eye-icon.svg"
            alt="Show/Hide password"
            class="toggle-password"
            (click)="togglePasswordVisibility()"
          />
        </form>
      </div>
      <div class="text-danger" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
      <a class="forgot-password">Olvidé mi contraseña</a>
    </div>

    <button
      type="button"
      class="login-btn"
      (click)="loginFormRef.ngSubmit.emit()"
    >
      Iniciar sesión
    </button>

    <div class="dynamic-login">
      <a>Iniciar sesión con clave dinámica</a>
    </div>
  </div>
</div>
