.sidebar {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-family: "Satoshi", sans-serif;
}

.logo-container img {
  width: 20rem;
  height: 8.2rem;
}

.options {
  padding: 0;
  margin: -15rem 0 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.highlighted-option {
  background-color: #ece6ff;
}

.options-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem 1rem;
  cursor: pointer;
}

.options-item__icon {
  width: 2.1rem;
  height: 2.3rem;
}

.options-item__text {
  color: #000;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.profile-container {
  background-color: #f9f9f9;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.user-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-name p {
  color: #171717;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  align-self: flex-start;
}

.user-name span {
  color: #707070;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.user-img {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  background-color: #819bff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.user-img p {
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.user-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 15rem;
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgba(173, 173, 173, 0.25);
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.menu-container__profile {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  align-items: center;
}

.menu-container__user-name p {
  font-size: 1.6rem;
  align-self: flex-start;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu-container__user-name span {
  font-size: 1rem;
  align-self: flex-start;
}

.user-menu > p {
  color: #000;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.user-menu > p:nth-child(3) {
  margin-top: -1rem;
}

hr {
  color: #9c9c9c;
}
