.main-container {
  display: flex;
  width: 100%;
  height: 100vh;
  font-family: "Satoshi", sans-serif;
}

.content-div {
  width: 65%;
  position: relative;
}

.image-div {
  width: 35%;
}

.image-div img {
  width: 100%;
  object-fit: cover;
  height: 100vh;
}

.logo-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container img {
  width: 20rem;
  height: 14.1rem;
}

.user-div {
  display: flex;
  align-items: center;
  margin-right: 3rem;
}

.user-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-name p {
  margin: 0;
  color: #242424;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-img {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  background-color: #819bff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.user-img p {
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.vertical-line {
  width: 1px;
  height: 4rem;
  background-color: #000;
  margin: 0 20px;
}

.sign-out-link a {
  color: #0136fe;
  text-align: right;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
}
.auth-options {
  margin: 0 auto;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.info-div,
.auth-div {
  color: #242424;
  line-height: normal;
}

.info-div {
  width: 100%;
  font-size: 3rem;
  font-weight: 700;
}

.auth-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 2rem;
  gap: 0.5rem;
}

.auth-div__title {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
}

.auth-div__content {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}

.method-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15.9rem;
  border-radius: 1rem;
  border: 0.5px solid #000;
  background: #fff;
  padding: 2rem;
  margin-bottom: 2rem;
}

.method-info {
  display: flex;
  flex-direction: column;
  font-style: normal;
  line-height: normal;
  color: #242424;
}

.method-info p:first-child {
  font-size: 2rem;
  font-weight: 500;
}

.method-info p:last-child {
  font-size: 1.6rem;
  font-weight: 400;
}

.method-button button {
  width: 13.6rem;
  height: 4rem;
  color: #fff;
  background-color: #0136fe;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 5px;
  border: none;
}

/* -------------------------- */
/* MODAL */
.hidden {
  display: none;
}

.modal-visible {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 5;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 31%;
  height: 70%;
  font-family: "Satoshi", sans-serif;
  background-color: white;
  padding: 4rem;
  border-radius: 30px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.modal-header {
  color: #242424;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  align-self: flex-start;
  margin: 0;
}

.modal-instructions {
  color: #242424;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

.modal-window img {
  width: 36%;
  height: 28%;
}

.modal-alternative {
  border-radius: 5px;
  border: 0.5px solid #707070;
  width: 85%;
  color: #242424;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  padding: 0.5rem;
}

.modal-alternative p {
  margin: 0;
}

.modal-form__instructions {
  color: #797979;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

.modal-form {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.text-danger {
  font-size: 1.6rem;
}

.modal-form__input {
  border-radius: 1rem;
  border: 0.5px solid #000;
  background: #fff;
  width: 4rem;
  height: 4rem;
  text-align: center;
  font-size: 1.2rem;
}

.modal-form__btn {
  width: 17rem;
  height: 5rem;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  margin-top: 2rem;
  border: none;
  cursor: pointer;
  border-radius: 5rem;
}

.button-enabled {
  background-color: #0136fe;
}

.button-disabled {
  background-color: #9c9c9c;
}
